#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*_____Centers within the viewport is more responsive YAY!_____ */
section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  padding: 2rem;
}

/*_______fixed dimension and positiotion for the 'card' container______*/
.card {
  width: 300px;
  height: 450px;
  display: flex;

  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  margin: 4px;
  position: relative; /* now card won't shift on flip! */
}
/* _____tarot card takes up the full area of the 'card' + size is fixed____ */
.card-image {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
