#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*_____Centers within the viewport is more responsive YAY!_____ */
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 70vh;
  padding: 1rem;
}

button {
  margin: 8px;
}

/*_______fixed dimension and positiotion for the 'card' container______*/
.card {
  width: 300px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-left: 4px;
  margin-right: 4px;
  position: relative;

  overflow: visible; /* Prevents the content from overflowing */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

  /* Glow effect on hover */
  box-shadow: 0 0 10px rgba(255, 252, 220, 0.563),
    0 0 20px rgba(255, 252, 220, 0.563), 0 0 30px rgba(255, 252, 220, 0.563),
    0 0 40px rgba(255, 252, 220, 0.563), 0 0 50px rgba(255, 252, 220, 0.563),
    0 0 60px rgba(255, 252, 220, 0.563), 0 0 70px rgba(255, 252, 220, 0.563);
}
/* _____tarot card takes up the full area of the 'card' + size is fixed____ */
.card-image {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
}
.card:hover .card-image {
  transform: scale(1.02);
}

@media (max-width: 960px) {
  section {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
